/*this file contains style only for the 2nd screen section/ playlist */
.playlist {
  margin-top: 110px;
  margin-left: 260px;
  overflow-y: scroll;
  height: calc(100vh - 210px);
  padding-bottom: 100px;
}
.header img {
  max-width: 400px;
  display: inline-block;
  object-fit: contain;
}
.header figure {
  display: flex;
  column-gap: 20px;
}
.header figure figcaption {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.header button {
  background-color: green;
  border-radius: 20px;
  padding: 8px 24px;
  margin-left: 16px;
}
.song-holder {
  margin-left: 40px;
}
.song-holder ol {
  display: grid;
  row-gap: 12px;
  list-style: decimal;
}
.song-holder ol li {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}
.caption {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.cap-1 {
  grid-column: 2/3;
}

.playlist-song {
  border-top: 1px solid rgba(40, 40, 40, 1);
}
.playlist-song .img-container {
  position: relative;
  width: 60px;
}

.playlist-song img {
  height: 60px;
  transition: filter 0.5s ease-in-out;
}
.playlist-song img:hover {
  filter: blur(2px);
}
.playlist-song img:hover + .hide {
  display: block;
}
.playlist-song .hide a {
  color: #b2b2b2;
  font-size: 20px;
}
.playlist-song .hide {
  position: absolute;
  left: 50%;
  top: calc(50% - 6px);
  transform: translate(-50%, -50%);
}
.hide a:hover {
  color: white;
}
@media screen and (max-width: 1160px) {
  .header figure {
    flex-direction: column;
    align-items: center;
  }
  .header figure img {
    max-width: 500px;
  }
}
