/*this file contains style only for the 2nd screen section/ playlist */
.playlist{
    position: absolute;
    left:22%;
    top:12%;
    width: 75%;
    height:80%;
    overflow-y:auto;
    overflow-x: hidden;
   
}

.playlist .header{

    position: relative;
    width:95%;
    left:2.5%;
    top:2%;
    height:36%;
    overflow-y: auto;
     overflow-x:hidden;
}
.header img{
position: absolute;
 max-width: 25vw;
  height: auto;

}
.song-holder{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    width:96%;
    top:5%;

    height:auto;
}
.song-holder ol li{

    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:auto;
    margin-top:1%;
  
}
.caption{
    display: flex;
    justify-content: space-between;
    width:78%;

    position: absolute;
left:20%;
    
}

.playlist-song{
    position: relative;
    display: flex;
    height:auto;
    top:2vh;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    border-top:1px solid rgba(40,40,40,1);
   
}
.song-desc{
    position: relative;
    width:87%;
    left:11%;
    height:11%;
    display: flex;
    justify-content: space-between;
      margin-top:3vh;
    align-items: center;
}
.playlist-song img{
    position: relative;
    margin-top:1vh;
    height:6vh;
    transition: filter 0.5s ease-in-out;
}
.playlist-song img:hover{
    filter:blur(2px);
}
.playlist-song img:hover + .hide {

    display:block;
    
}
.playlist-song .hide a{
    
    color:#B2B2B2;
    font-size: 1.5vw;
}
.playlist-song .hide {
    position: absolute;
    left:1.2%;
    top:1vh;
}
.hide a:hover{
    color:white;
}

.playlist-heading{
    position: relative;
    top:-9%;
    left:37%;
}
.playlist-desc{
    position: relative;
    top:-9%;
    width:50%;
    left:37%;
    height:auto;
}
.playlist-button {

    position: relative;
    left:40%;

    

}
.playlist-button button{
    margin:1rem;
}